/*@import "sass-grid";*/

body {
  background: url('img/placeholder.svg');
}

h1 {
  color: blue;
  font-size: 19px;
}
/*
//.feature-list {
//  @include grid();
//
//  &__item {
//    @include grid__unit();
//    @include grid__unit--cols(4);
//    color: white;
//    text-align: center;
//  }
//
//}
*/
