@import "sass-grid";
@import "@nib-components/icon";

body {
  background: url('img/placeholder.svg');
}

h1 {
  color: green;
  font-size: 16px;
}

.feature-list {
  @include grid();
}

.feature-list__item {
  @include grid__unit();
  @include grid__unit--cols(4);
  color: white;
  text-align: center;
}