@import "./bar";
@import "sass-grid";

body {
  background: url('img/profile.jpg');
}

h1 {
  color: green;
  font-size: 16px;
}

.feature-list {
  @include grid();
}

.feature-list__item {
  @include grid__unit();
  @include grid__unit--cols(4);
  color: white;
  text-align: center;
}